<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rajeev.timesinternetassignment"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashAct"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/home_act"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/OKStyle"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activities.ItemInfoAct"
            android:label="@string/home_act"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/OKStyle"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <receiver
            android:name=".receivers.NotificationBR"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".services.NotifyService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>